<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
    <title>Queries</title>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div align="center">
        <h1>Меню запросов</h1>
        <nav class="nav flex-column">
        <h2><a class="nav-link" href ="/queries/query1">Запрос 1. <br> Информация о вакансиях по указанной позиции штатного расписания.</a></h2>
        <h2><a class="nav-link" href ="/queries/query2">Запрос 2. <br> Количество вакансий по каждой позиции за указанный год.</a></h2>
        <h2><a class="nav-link" href ="/queries/query3">Запрос 3. <br> Информация о самом молодом сотруднике указанного отдела.</a></h2>
        <h2><a class="nav-link" href ="/queries/query4">Запрос 4. <br> Информация в позициях, на которые не открывались вакансии за указанный год.</a></h2>
        <h2><a class="nav-link" href="/">Назад</a></h2>
        </nav>
        </div>
    {% endblock %}
</body>
</html>