<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
    <title>Query1</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div align="center">
    <h2>Запрос 1</h2>
    <p>Вывести номер вакансии, название позиции, количество дней, прошедших со дня открытия вакансии, по выбранной позиции штатного расписания.</p>
    <form action="{{ url_for('queries.get_report_by_title') }}" method="get">
        <p><div class="col-sm-2"><input class="form-control" name="title" placeholder="Позиция штатного расписания"></div></p>
        <p><button class="btn btn-primary" type="submit">Вывести результат запроса 1</button></p>
    </form>

    <h2><a class="nav-link" href="/queries">Назад</a></h2>
    </div>
    {% endblock %}
</body>
</html>