<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
    <title>Список работников</title>
    {% endblock %}
</head>
<body>
<div align="center">
    <h2>Список работников</h2>
    <table class="table-hover" border="0" cellpadding="5">
            {% for head in heads %}
            <th align="center">{{ head }}</th>
            {% endfor %}
        {% for item in context %}
            <tr align="center">
                <td> {{ item['name'] }} </td>
                <td> {{ item['departament_number'] }} </td>
                <td> {{ item['birthday'] }} </td>
                <td> {{ item['adress'] }} </td>
                <td> {{ item['education'] }} </td>
                <td> {{ item['Salary'] }} </td>
                <td> {{ item['recruit_date'] }} </td>
                <td> {{ item['dismiss_date'] }} </td>
                <td> {{ item['title'] }} </td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="id_w_dismiss" value="{{ item['id_w'] }}">
                        <button class="btn btn-danger" type="submit" name="action" onclick="return confirm('Вы уверены, что хотите уволить этого сотрудника?')">Уволить</button>
                    </form>
                </td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="id_w_delete" value="{{ item['id_w'] }}">
                        <button class="btn btn-danger" type="submit" name="action" onclick="return confirm('Вы уверены, что хотите удалить эту строку из базы данных?')">Удалить</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2><a class="nav-link" href="/edit/worker/insert_worker">Добавить работника</a></h2>
    <h2><a class="nav-link" href = "/edit">Назад</a></h2>
</div>
</body>
</html>